.navbar{
    margin: 0 3%;
    display: flex;
    justify-content: space-between;
    
}

.leftSide{
    
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;
    margin: 20px auto;
}

.logoImg{
    width: 5vw;
}

.Links{
    margin-left: 6%;
}

.Links a{
    margin: 0 1rem;
    text-decoration: none;
    font-size: clamp(.7rem, 1vw, 1.5rem);
    font-weight: 500;
    cursor: pointer;
    color: black;
}
a:hover {
  color: hsl(27, 77%, 65%);
}

.rightSideBox{
    position: absolute;
    top: 0;
    right: 0;
    width: 35vw;
    height: clamp(800px, 50vh, 900px);
    background-color: hsl(27, 77%, 65%);
    z-index: -1;
}
.rightSide{
    display: flex;
    width: 35vw;
    justify-content: flex-end;
    align-content: center;
}

.socialMedia{
    margin-top: 7%;
    margin-left: 10%;
    z-index: 2;
}

.socialMedia svg {
    color: white;
    margin: 10px;
    font-size: clamp(1rem, 1.5vw, 2rem);
    cursor: pointer;
  }

  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 7%;
    margin-left: 4%;
    border: 1.5px solid white;
    height: 38px;
    width: 128px;
    font-size: clamp(.7rem, .9vw, 1.7rem);
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s ease-in;
    z-index: 2;
    border-radius: 5px;
  }

  .button:hover{
    color: hsl(27, 77%, 65%);
    border: 2px solid white;
    background-color: white;
  }

  .menuIcon{
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: none;
    height: 2px;
    width: 2px;
    margin-top: 20px;
    margin-right: 5%;
    border-radius: 50%;
    z-index: 2;
  }
  .menuIcon2{
    position: fixed;
    right: 3%;
    top: 3%;
}
    .menuIcon2 button{
        border: none;
    outline: none;
    background: none;
    cursor: pointer;
    }
  .menuIcon button{
    color: white;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }
  .menuIcon button svg{
    font-size: clamp(1.5rem, 2.1vw, 3rem);
  }

  .hiddenLinks{
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background: white;
    padding-top: 105px;
    transition: 0.4s ease-in;
  }

  .hiddenLinks a {
    display: block;
    width: 100%;
    margin: 0 auto 10px;
    text-align: center;
    margin-bottom: 20px;
    padding:  16px;
    color: black;
    text-decoration: none;
  }
  
  .navbar #open {
    display: block;
  }
  

  @media only screen and (max-width: 900px) {
    .Links{
        display: none;
    }
    .socialMedia{
        display: none;
    }
    .button{
        display: none;
    }

    .rightSideBox{
        justify-content: flex-end;
        height: 450px;
        width: 20vw;
        
    }
    .menuIcon{
        display: flex;
    }

    .leftSide{
        margin: 0;
        padding: 13px;
    }
    .leftSide .logoImg{
        width: 50px;
    }

    .navbar #open .hiddenLinks {
        display: inherit;
        
      }
      
      .navbar #close .hiddenLinks {
        display: none;
      }
      
      .navbar #open img {
        display: none;
      }
      
      .navbar #close img {
        display: inherit;
      }
  
      .navbar{
        margin: 0 1%;
    }
  }

  @media only screen and (max-width: 640px) {
    .rightSideBox{
      height: 550px;
      
  }
  }